:root {
    --hue: 223;
    --primary: #8c3f8d;
    --primary-light: #af4fb0;
    --primary-dark: #692f6a;
}

body {
    margin: 0;
    padding: 0;
}

.contributor:last-child > span {
    display: none;
}

.row {
    cursor: pointer;
}

.fixed-right {
    float: right;
    position: fixed;
    right: 0;
    z-index: 1;
}

.dropdown-item {
    cursor: pointer;
}

.field.is-horizontal > .field:not(:last-child) {
    margin-right: 0.75em;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.button.primary {
    color: var(--white);
    background-color: var(--primary);
    border-width: 2px;
    border-radius: 0.375rem;
    border-color: var(--primary);
    font-weight: bold;
}
.button.primary:hover {
    color: var(--white);
    background-color: var(--primary-light);
    border-color: var(--primary);
}
.version {
    color: var(--primary);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: calc(0.5em - 1px);
    font-weight: bold;
}
.version:hover {
    text-decoration: underline;
    color: var(--primary-light);
}

.book,
.book__pg-shadow,
.book__pg {
    animation: cover 7s ease-in-out infinite;
}
.book {
    background-color: var(--primary-light);
    border-radius: 0.25em;
    box-shadow:
        0 0.25em 0.5em hsla(0, 0%, 0%, 0.3),
        0 0 0 0.25em var(--primary) inset;
    padding: 0.25em;
    perspective: 37.5em;
    position: relative;
    width: 8em;
    height: 6em;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}
.book__pg-shadow,
.book__pg {
    position: absolute;
    left: 0.25em;
    width: calc(50% - 0.25em);
}
.book__pg-shadow {
    animation-name: shadow;
    background-image: linear-gradient(
        -45deg,
        hsla(0, 0%, 0%, 0) 50%,
        hsla(0, 0%, 0%, 0.3) 50%
    );
    filter: blur(0.25em);
    top: calc(100% - 0.25em);
    height: 3.75em;
    transform: scaleY(0);
    transform-origin: 100% 0%;
}
.book__pg {
    animation-name: pg1;
    background-color: var(--white);
    background-image: linear-gradient(
        90deg,
        hsla(var(--hue), 10%, 90%, 0) 87.5%,
        hsl(var(--hue), 10%, 90%)
    );
    height: calc(100% - 0.5em);
    transform-origin: 100% 50%;
}
.book__pg--2,
.book__pg--3,
.book__pg--4 {
    background-image: repeating-linear-gradient(
            hsl(var(--hue), 10%, 10%) 0 0.125em,
            hsla(var(--hue), 10%, 10%, 0) 0.125em 0.5em
        ),
        linear-gradient(
            90deg,
            hsla(var(--hue), 10%, 90%, 0) 87.5%,
            hsl(var(--hue), 10%, 90%)
        );
    background-repeat: no-repeat;
    background-position: center;
    background-size:
        2.5em 4.125em,
        100% 100%;
}
.book__pg--2 {
    animation-name: pg2;
}
.book__pg--3 {
    animation-name: pg3;
}
.book__pg--4 {
    animation-name: pg4;
}
.book__pg--5 {
    animation-name: pg5;
}

/* Animations */
@keyframes cover {
    from,
    5%,
    45%,
    55%,
    95%,
    to {
        animation-timing-function: ease-out;
        background-color: var(--primary-light);
    }
    10%,
    40%,
    60%,
    90% {
        animation-timing-function: ease-in;
        background-color: var(--primary-dark);
    }
}
@keyframes shadow {
    from,
    10.01%,
    20.01%,
    30.01%,
    40.01% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
    }
    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 1px) scaleY(0.2) rotateY(90deg);
    }
    10%,
    20%,
    30%,
    40%,
    50%,
    to {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
    }
    50.01%,
    60.01%,
    70.01%,
    80.01%,
    90.01% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 0, 1px) scaleY(0) rotateY(180deg);
    }
    60%,
    70%,
    80%,
    90%,
    to {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 1px) scaleY(0) rotateY(0);
    }
}
@keyframes pg1 {
    from,
    to {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.4deg);
    }
    10%,
    15% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(180deg);
    }
    20%,
    80% {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(180deg);
    }
    85%,
    90% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(180deg);
    }
}
@keyframes pg2 {
    from,
    to {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(0.3deg);
    }
    5%,
    10% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.3deg);
    }
    20%,
    25% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.9deg);
    }
    30%,
    70% {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(179.9deg);
    }
    75%,
    80% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.9deg);
    }
    90%,
    95% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.3deg);
    }
}
@keyframes pg3 {
    from,
    10%,
    90%,
    to {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(0.2deg);
    }
    15%,
    20% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.2deg);
    }
    30%,
    35% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.8deg);
    }
    40%,
    60% {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(179.8deg);
    }
    65%,
    70% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.8deg);
    }
    80%,
    85% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.2deg);
    }
}
@keyframes pg4 {
    from,
    20%,
    80%,
    to {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(0.1deg);
    }
    25%,
    30% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.1deg);
    }
    40%,
    45% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.7deg);
    }
    50% {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(179.7deg);
    }
    55%,
    60% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.7deg);
    }
    70%,
    75% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0.1deg);
    }
}
@keyframes pg5 {
    from,
    30%,
    70%,
    to {
        animation-timing-function: ease-in;
        background-color: var(--grey);
        transform: translate3d(0, 0, 1px) rotateY(0);
    }
    35%,
    40% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0deg);
    }
    50% {
        animation-timing-function: ease-in-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(179.6deg);
    }
    60%,
    65% {
        animation-timing-function: ease-out;
        background-color: var(--white);
        transform: translate3d(0, 0, 1px) rotateY(0);
    }
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.gap-10 {
    gap: 2.5rem;
}

.yt-lite {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
}

.yt-lite.lyt-activated:before {
    content: "";
    box-sizing: content-box;
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.yt-lite:after {
    content: "";
    display: block;
    padding-bottom: var(--aspect-ratio);
}

.yt-lite > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.yt-lite > .lty-playbtn {
    width: 70px;
    height: 46px;
    background-color: #212121;
    z-index: 1;
    opacity: 0.8;
    border-radius: 14%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.yt-lite:hover > .lty-playbtn {
    background-color: red;
    opacity: 1;
}

.yt-lite > .lty-playbtn:before {
    content: "";
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 11px 0 11px 19px;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.yt-lite.lyt-activated {
    cursor: inherit;
}

.yt-lite.lyt-activated:before,
.yt-lite.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.w-16 {
    width: 4rem;
}

.w-32 {
    width: 8rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-primary-700 {
    --tw-text-opacity: 1;
    color: rgb(123 55 123 / var(--tw-text-opacity));
}

:is(.dark .dark:text-gray-400) {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

:is(.dark .dark:hover:text-primary-400:hover) {
    --tw-text-opacity: 1;
    color: rgb(175 79 176 / var(--tw-text-opacity));
}

.hover:text-primary-400:hover {
    --tw-text-opacity: 1;
    color: rgb(175 79 176 / var(--tw-text-opacity));
}

.focus:text-primary-400:focus {
    --tw-text-opacity: 1;
    color: rgb(175 79 176 / var(--tw-text-opacity));
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-transparent {
    border-color: transparent;
}

.hover:border-primary-600:hover {
    --tw-border-opacity: 1;
    border-color: rgb(140 63 141 / var(--tw-border-opacity));
}

.border-primary-600 {
    --tw-border-opacity: 1;
    border-color: rgb(140 63 141 / var(--tw-border-opacity));
}

.no-underline {
    text-decoration-line: none;
}

.group:hover .group-hover:text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.group:hover .group-hover:opacity-100 {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

:is(.dark .dark:hover:border-primary-400:hover) {
    --tw-border-opacity: 1;
    border-color: rgb(175 79 176 / var(--tw-border-opacity));
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.border-2 {
    border-width: 2px;
}

.border-primary-200 {
    --tw-border-opacity: 1;
    border-color: rgb(163 101 163 / var(--tw-border-opacity));
}

.lg:rounded-2xl {
    border-radius: 1rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.md:flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.md:flex-row {
    flex-direction: row;
}

.lg:flex-row {
    flex-direction: row;
}

.list-none {
    list-style-type: none;
}

.gap-2 {
    gap: 0.5rem;
}

.place-content-center {
    place-content: center;
}

.text-primary-700 {
    --tw-text-opacity: 1;
    color: rgb(123 55 123 / var(--tw-text-opacity));
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

[hidden] {
    display: none;
}

.block {
    display: block;
}

.flex-row {
    flex-direction: row;
}

.lg:flex-row {
    flex-direction: row;
}
.gap-10 {
    gap: 2.5rem;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

:is(.dark .dark:border-gray-400) {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.lg:rounded-2xl {
    border-radius: 1rem;
}

.rounded-2xl {
    border-radius: 1rem;
}

.w-max {
    width: -moz-max-content;
    width: max-content;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lg:block {
    display: block;
}

.w-32 {
    width: 8rem;
}

.lg:w-48 {
    width: 12rem;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.divide-x-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(4px * var(--tw-divide-x-reverse));
    border-left-width: calc(4px * calc(1 - var(--tw-divide-x-reverse)));
}

.divide-transparent > :not([hidden]) ~ :not([hidden]) {
    border-color: transparent;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.ai {
    font-family: Academicons;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.ai-open-access:before {
    content: "\e939";
}

.ai-open-access-square:before {
    content: "\e9f4";
}

.text-openaccess {
    --tw-text-opacity: 1;
    color: rgb(235 128 29 / var(--tw-text-opacity));
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fa-brands,
.fab {
    font-weight: 400;
    font-family: Font Awesome 6 Brands;
}

.fa-creative-commons-nc:before {
    content: "\f4e8";
}

.fa-creative-commons-pd-alt:before {
    content: "\f4ed";
}

.fa-creative-commons-by:before {
    content: "\f4e7";
}

.fa-creative-commons-sa:before {
    content: "\f4ef";
}

.fa-creative-commons:before {
    content: "\f25e";
}

.fa-creative-commons-zero:before {
    content: "\f4f3";
}

.fa-creative-commons-share:before {
    content: "\f4f2";
}

.fa-creative-commons-pd:before {
    content: "\f4ec";
}

.fa-creative-commons-nc-eu:before {
    content: "\f4e9";
}

.fa-creative-commons-nd:before {
    content: "\f4eb";
}

.fa-creative-commons-remix:before {
    content: "\f4ee";
}

.fa-creative-commons-nc-jp:before {
    content: "\f4ea";
}

.fa-creative-commons-sampling-plus:before {
    content: "\f4f1";
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.font-semibold {
    font-weight: 600;
}

.list-inside {
    list-style-position: inside;
}

.pl-5 {
    padding-left: 1.25rem;
}

.bullet-separated22 li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.bullet-separated22 li::after {
    content: "\\2022";
    position: absolute;
    right: -10px;
}

.bullet-separated22 li:last-child::after {
    content: "";
}

.metadata_container {
    color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
    .metadata_container {
        background-color: #2d3748;
    }
}

.custom_table {
    border: 0px solid black;
    border-collapse: collapse;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px;

    width: 100%;
    padding: 40px;
}
